* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* border of el will be counted inside border's height-width*/
}

.border {
    border: 1px solid transparent;
    height: 95%;
    cursor: pointer;
}

.border:hover {
    border: 1px solid white;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 100px;
    height: 50px;
}

.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* Address */
.nav-addr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-addr p:nth-child(1) {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.85rem;
    color: #cccccc;
}
.nav-addr p:nth-child(2) {
    margin-left: 0.3rem;
    font-weight: bold;
}
.addr-icon {
    display: flex;
    font-size: 1rem;
}
/* Search bar */
.drop-down-btn {
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    padding: 5px;
}

.search-bar {
    display: flex;
    height: 50%;
}
.search-input {
    width: 45vw;
    border: none;
    font-size: 1rem;
}
.search-btn {
    background-color: #febd69;
    min-width: 2.5rem;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
}
.search-btn:hover {
    background-color: #f3a847;
    cursor: pointer;
}
/* Country */
.country-cont {
    display: flex;
    align-items: center;
}
#flag {
    width: 1rem;
    height: 0.8rem;
    align-self: center;
}
.country-cont p {
    margin: auto 5px;
    font-weight: bold;
}
/* Sign in  */
.signin-cont, .returns-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-cont p:nth-child(1),
.returns-cont p:nth-child(1) {
    font-size: 0.8rem;
}
.signin-cont p:nth-child(2),
.returns-cont p:nth-child(2) {
    font-weight: bold;
}

/* Cart */
.cart-cont {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.cart-cont i {
    font-size: 1.5rem;
}
.cart-count {
    color: #febd69;
    font-weight: bold;
    position: relative;
    left: -16px;
    bottom: 10px;
}