* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box; /* border of el will be counted inside border's height-width*/

}

body {
    background-color: #ddd;
}

.border {
    border: 1px solid transparent;
    height: 95%;
    cursor: pointer;
}

.border:hover {
    border: 1px solid white;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 100px;
    height: 50px;
}

.logo {
    background-image: url("./images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

/* Address */
.nav-addr {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-addr p:nth-child(1) {
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    font-size: 0.85rem;
    color: #cccccc;
}
.nav-addr p:nth-child(2) {
    margin-left: 0.3rem;
    font-weight: bold;
}
.addr-icon {
    display: flex;
    font-size: 1rem;
}
/* Search bar */
.drop-down-btn {
    border-radius: 5px 0px 0px 5px;
    border: 0px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    padding: 5px;
}

.search-bar {
    display: flex;
    height: 50%;
    border: 2px solid transparent;
}
.search-input {
    width: 45vw;
    border: none;
    font-size: 1rem;
    outline: none;
}
.search-bar:hover {
    border: 2px solid #febd69;
    border-radius: 7px;
}
.search-btn {
    background-color: #febd69;
    min-width: 2.5rem;
    border: 0px;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.2rem;
}
.search-btn:hover {
    background-color: #f3a847;
    cursor: pointer;
}
/* Country */
.country-cont {
    display: flex;
    align-items: center;
}
#flag {
    width: 1rem;
    height: 0.8rem;
    align-self: center;
}
.country-cont p {
    margin: auto 5px;
    font-weight: bold;
}
/* Sign in  */
.signin-cont, .returns-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-cont p:nth-child(1),
.returns-cont p:nth-child(1) {
    font-size: 0.8rem;
}
.signin-cont p:nth-child(2),
.returns-cont p:nth-child(2) {
    font-weight: bold;
}

/* Cart */
.cart-cont {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.cart-cont i {
    font-size: 1.5rem;
    margin-right: 5px;
}
.cart-count {
    color: #febd69;
    font-weight: bold;
    position: relative;
    left: -16px;
    bottom: 10px;
}

.cart-cont .cart-text {
    font-weight: bold;
    position: relative;
    top: 6px;
}

/* panel */
.panel {
    display: flex;
    align-items: center;
    height: 2.5rem;
    background-color: #232f3e;
    font-size: 14px;
    color: white;
    padding-left: 1rem;
}
.panel-all {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.8rem
}
.panel-all i {
    padding-right: 0.4rem;
    font-size: 16px;
}

.panel a {
    text-decoration: none;
    color: white;
    /* height: 100%; */
}
.panel-options {
    display: flex;
    height: 96%;
}
.panel-options div {
    padding: 0px 0.8rem;
    display: flex;
    align-items: center;
}
/* ----------- HERO Section ----------- */

.hero {
    background-image: url("./images/hero_image.jpg");
    height: 350px;
    background-size: cover;
    /* text-align: center; */
}

.hero-msg {
    margin: 0px auto;
    position: relative;
    top: 250px;
    background-color: #f5f6f6;
    padding: 0.5rem 1rem;
    width: 90%;
    text-align: center;
}
.hero-msg a {
    text-decoration: none;
    color: #007185;
}

/* ---- Conetnt ---- */

.content {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-heading {
    margin-bottom: 1rem;
    font-size: 21px;
    color: #0f1111;
}

.card {
    width: 24%;
    /* border: 1px solid; */
    padding: 1.5rem;
    background-color: white;
    height: 480px;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
}

/* Card */
.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 360px;
}

.card a {
    /* position: absolute; */
    /* bottom: 0px; */
}
.card-sm {
    display: flex;
    width: 45%; 
    flex-direction: column;
    margin-bottom: 1rem;
}

.card-sm img {
    height: 130px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.card-md {
    /* display: flex;
    flex-direction: column; */
}

.card-md img {
    width: 100%;
    height: 62%;
    object-fit: contain;
    margin-bottom: 1rem;
}

.card-md .image-fill {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-sm-discount {
    background-color: #cc0c39;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.card-md p {
    font-size: 12px;
    margin-top: 10px;
}

.product-description {
    font-size: 12px;
}

.card a {
    font-size: 13px;
}

.sign-in-container {
    width: 24%;
}

.sign-in-card {
    padding: 1.5rem;
    background-color: white;
    height: 30%;
}

#sign-in-btn {
    width: 100%;
    border-radius: 8px;
    border: 0px;
    padding: 0.6rem;
    font-size: 1rem;
    background: #FFD814;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    cursor: pointer;
}

#sign-in-btn:hover {
    background: #F7CA00
}

/* ------------ FLIGHT --------- */
.flight-container {
    background-color: white;
    padding: 1.5rem;
}

.flight-container img {
    width: 100%;;
}

/* ---- End ----- */
.building-msg {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 40px;
    height: 100px;
}

